<!DOCTYPE html>
<html>
<head>
  <title>WYSIWYG</title>

  <link rel="stylesheet" type="text/css" href="css/editor.css" />

  <script type="text/javascript" src="js/thirdparty/prototype.js"></script>
  <script type="text/javascript" src="js/thirdparty/wysihat.js"></script>
  <script type="text/javascript" src="js/editor.js"></script>
</head>

<body>
    <!--START EDITABLE REGION-->
    <div id="div1">
       div1 text
    </div>
    <!--END EDITABLE REGION-->

    <div id="div2">div2 text</div>

    <!--START EDITABLE REGION-->
    <div id="div3">
       div2 text
    </div>
    <!--END EDITABLE REGION-->
</body>
</html>
